<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/main.css') }}">
    <meta charset="UTF-8">
    <title>Lista dei Vini</title>
</head>
<body>
     <!-- Header -->
     <div class="header">
        <div>
            <a href="/">Home</a>
        </div>
        <div>
            <a href="/statistiche">Grafici</a>
        </div>
        <div>
            <a href="/wine_list"> Tutti i vini</a>
        </div>

         <!-- Menu a tendina -->
         <div id="menu">
            <button class="dropbtn">Filtra</button>
            <div class="dropdown-content">
                <a href="/search_variety" style="margin-left: 0px;">Varietà</a>
                <a href="/search_points" style="margin-left: 0px;">Punti</a>
                <a href="/search_price" style="margin-left: 0px;">Prezzo</a>
            </div>
        </div>

         <!-- Barra di ricerca -->
        <div id="search">
            <form action="/search_title" method="get">
                <input type="text" name="query" placeholder="Cerca un vino...">
                <button type="submit">Cerca</button>
            </form>
        </div>
        
    </div>

    <div style="margin-top: 40px;">

        <!-- titolo pagina -->
       <div>
       <h1 style="text-align: center;">Vini disponibili...</h1>
       </div>

       {% if listawine %}
           <ul>
               {% for result in listawine %}
                <ul>
                    <!-- box del vino viola -->
                    <div class="wine-list">
                           
                       <!--informazioni del vino-->
                       <div class="wine-infolist"  style="padding: 30px;">
                           <h2 class="wine-titlelist">{{ result['winery'] }}</h2>
                           <div class="wine-detailslist">
                               <div>
                                   <p><strong>Paese di provenienza:</strong> {{ result['province'] }}</p>
                                   <p><strong>Varietà:</strong> {{ result['variety'] }}</p>
                                   <p><strong>Punteggio:</strong> {{ result['points'] }}/100</p>
                                   <p><strong>Prezzo:</strong> {{ result['price'] }}</p>
                               </div>
                           </div>
                           <div style="width:400px">
                               <h3 >Descrizione</h3>
                                   <p>{{ result['description'] }}</p>
                            </div>
                        </div>
                    </div>
                </ul>
               {% endfor %}
           </ul>
       {% else %}
           <p>Nessun risultato trovato</p>
       {% endif %}
   </div>

</body>
</html>
